.tasks-page {
    .tasks-component {

        .tasks-container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .task-item {
                cursor: pointer;
                border-radius: 5px;
                padding: .5rem 1rem;
                color: #000;
                margin: .5rem 0;
                width: 30rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .task-name {}
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .tasks-page {
        .tasks-component {
            .tasks-container {
                .task-item {
                    width: 80vw;
                }
            }
        }
    }
}

.auth-component,
.create-task-component {
    h2 {
        margin: auto;
        width: fit-content;
        margin-bottom: 1rem;
    }

    form {
        width: 40vw;
        margin: auto;

        .input-container {
            margin-bottom: 1rem;

            .input-field {
                margin-bottom: .5rem;

                label {
                    font-size: 1rem;
                    margin-bottom: .5rem;
                    font-weight: 500;
                }

                input {
                    padding: .5rem;
                    border: 1px solid #000;
                    border-radius: 5px;
                    font-size: 1rem;

                    &:focus {
                        border-color: 1px solid red;
                    }
                }
            }

            .error {
                color: red !important;
            }
        }

        .form-question {
            text-align: center;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 900px) {
    .create-task-component {
        form {
            width: 75vw
        }
    }
}