.tasks-page {
    .tasks-component {
        .tasks-container {
            display: flex;
            flex-direction: row;


            .task-item {
                cursor: pointer;
                border-radius: 5px;
                padding: .5rem 1rem;
                color: #000;
                margin: .5rem 0;
                min-width: 30rem;
                max-width: fit-content;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .task-name {}
            }
        }
    }

}